@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    min-height: 100vh;
    background: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}
section.active
{
    background: #181818;
}
section .container
{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}
section .container .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
section .container .user .ImgBox
{
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}
section .container .user .ImgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .container .user .FormBox
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
section .container .user .FormBox h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
section .container .user .FormBox input
{
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}
section .container .user .FormBox input[type="submit"]
{
    max-width: 100px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
section .container .user.signupBox .FormBox input[type="submit"]
{
    background: #e73e49;
}
section .container .user .FormBox .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
section .container .user .FormBox .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #577eff;
}
section .container .signupBox 
{
    pointer-events: none;
}
section .container.active .signupBox 
{
    pointer-events: initial;
}
section .container .signupBox .FormBox
{
    top: 100%;
}
section .container.active .signupBox .FormBox
{
    top: 0;
}
section .container .signupBox .ImgBox
{
    top: -100%;
    transition: 0.5s;
}
section .container.active .signupBox .ImgBox
{
    top: 0;
}


section .container .signinBox 
{
    top: 0;
} 
section .container.active .signinBox .FormBox
{
    top: 100%;
} 
section .container .signinBox .ImgBox
{
    top: 0;
    transition: 0.5s;
} 
section .container.active .signinBox .ImgBox
{
    top: 100%;
} 

@media (max-width: 991px) {
    section .container
    {
        max-width: 400px;
    }
    section .container .ImgBox
    {
        display: none;
    }
    section .container .user .FormBox
    {
        width: 100%;
    }
    section .container.active .signinBox .FormBox
{
    top: -100%;
} 
}